$media-query-breakpoints: (
  default: 0,
  first: 40em,
  second: 52em
) !default;

@function breakpoint-min($name, $breakpoints: $media-query-breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
}

@mixin breakpoint($name, $breakpoints: $media-query-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}
