/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  body {
    background-color: #fff;
    color: #000;
    font-family: Georgia, serif;
    font-size: 12pt;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;
  }

  /* reset any structural elements */
  body, .site-container, .site-header, .site-footer, .post-header {
    float: none !important;
    margin: 0 !important;
    padding: 0 !important;
    width: auto !important;
  }

  /* hide columns, nav, designated elements */
  .site-navigation, .site-footer, .github-ribbon, .hide {
    display: none !important;
  }

  /* remove any borders */
  html, body, body * {
    border-width: 0;
  }

  /* no need to differentiate links from text, remove formatting */
  a, a:link, a:visited {
    background-color: inherit;
    color: inherit;
    text-decoration: underline;
  }

  .is-print-only {
    display: inherit !important;
  }

  h1 {
    font-size: $h3-font-size;
  }
}
