@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    border-width: 0 !important;
    box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important;
  }

  :root {
    font-size: 9.75pt;
  }

  /* reset any structural elements */
  body, .content-container, .post-header {
    margin: 0 !important;
    padding: 0 !important;
    width: auto !important;
  }

  /* hide unnecessary elements */
  .site-header, .site-footer, .back-to-top-container, .hide {
    display: none !important;
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* no need to differentiate links from text, remove formatting */
  a, a:link, a:visited {
    background-color: inherit;
    color: inherit;
    text-decoration: underline;
  }

  .resume-section-heading {
    letter-spacing: 0;
    text-transform: none;
  }

  .is-print-only {
    display: inherit !important;
  }

  h1 {
    font-size: $h4-font-size;
  }
}
