$base-line-height: 1.5;

$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// https://palx.jxnblk.com

$base-font-family: Inter, Lato, 'Helvetica Neue', Helvetica, Calibri, Arial, serif;

$heading-font-family: Merriweather, sans-serif; // Merriweather
$heading-font-weight: 700;
$heading-line-height: 1.25;

$base-font-size: 1rem;

$h1-font-size: 2.4rem;
$h2-font-size: 2rem;
$h3-font-size: 1.55rem;
$h4-font-size: 1.35rem;
$h5-font-size: 1.125rem;
$h6-font-size: 1rem;

$z-index-back-to-top-button: 10;

$media-query-breakpoint-default: 0;
$media-query-breakpoint-first: 40em;
$media-query-breakpoint-second: 44em; // ~700 for content

$spacer: 1em !default;
$spacers: (
  0: 0,
  half: ($spacer * .5),
  base: $spacer,
  2x: ($spacer * 2),
  3x: ($spacer * 3),
  4x: ($spacer * 4)
) !default;
