<div class="site-footer">
  <p class="margin-bottom-0">
    &copy; <!-- 2004- --><span id="js-copyright-year">2026</span>
    by <%= link_to site_title, root_path %>
  </p>
</div>

<div class="top-link-container">
  <a href="#top" class="top-link" aria-label="Back to top">
    <svg class="top-link-icon" viewBox="0 0 24 24" width="24" height="24">
      <path fill="none" d="M0 0h24v24H0z"/>
      <path d="M13 7.828V20h-2V7.828l-5.364 5.364-1.414-1.414L12 4l7.778 7.778-1.414 1.414L13 7.828z"/>
    </svg>
  </a>
</div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-3924916-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-3924916-1');
</script>

<!-- Sitepress <%= Sitepress::VERSION %> -->
