<!DOCTYPE html>
<html class="h-full antialiased" lang="en">
<%= render "layouts/head" %>
<body>
  <main>
    <%= yield %>
  </main>
  <%= render "layouts/footer" %>
  <%= render "layouts/google_analytics" %>
</body>
</html>
