@keyframes fadeInFromRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0) scale(0.7);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1);
  }
}

@keyframes fadeOutToTheRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0) scale(0.7);
  }
}

.back-to-top-container {
  bottom: 30px;
  position: fixed;
  right: 30px;
  z-index: $z-index-back-to-top-button;
}

.back-to-top-button {
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 8px;
  box-shadow: 0 4px 6px 0 rgba(#000, 0.18); //hsla(0,0%,0%,0.2);
  color: var(--text-inverted-color);
  display: flex;
  justify-content: center;
  opacity: 0;
  padding: .6rem;
  transition: color .3s, background-color .3s;

  &:hover {
    background-color: var(--secondary-color);
    color: var(--text-inverted-color);
  }

  &.fade-in {
    animation-name: fadeInFromRight;
    animation-fill-mode: both;
    animation-duration: .6s;
    animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); /* easeOutQuint */
  }

  &.fade-out {
    animation-name: fadeOutToTheRight;
    animation-fill-mode: both;
    animation-duration: .3s;
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060); /* easeInQuint */
  }
}

.back-to-top-arrow {
  fill: currentColor;
  height: 30px;
  width: 30px;
}
