a {
	color: var(--primary-color);
  transition: color .3s;

  &:hover {
    color: var(--secondary-color);
  }
}

.icon-link {
  color: var(--text-color);
  display: flex;

  .icon {
    fill: currentColor;
  }

  &:hover {
    color: var(--secondary-color);
  }
}
