name: Tests

on:
  push:
    branches:
      - master
    paths:
      - '.github/workflows/tests.yml'
      - 'assets/**'
      - 'config/**'
      - 'helpers/**'
      - 'layouts/**'
      - 'pages/**'
      - 'Rakefile'
      - 'Gemfile*'
  pull_request:

jobs:
  test_suite:
    runs-on: ubuntu-latest
    name: Run tests
    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - name: Cache HTMLProofer
        id: cache-htmlproofer
        uses: actions/cache@v5
        with:
          path: tmp/.htmlproofer
          key: ${{ runner.os }}-htmlproofer
      - run: bundle exec rake test
